$bg: 800px;
// $bg: 1440px;
.header{
    grid-area: header;
    justify-self: center;
    margin-top: 8rem;
    @media(min-width: $bg){
            margin-top: 8rem;
        }
    &__logo{
        font-weight: bold;
        font-size: 2rem;

        @media(min-width: $bg){
            font-size: 3.2rem;
        }
        &--blue{
            color: var(--color-blue-400);
        }
    }
}