$bg: 1440px;

.launching{
    grid-area: "launching";
    justify-self: center;
    text-align: center;
    &__title{
        color: var(--color-blue-900);
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 3.2rem;

        @media(min-width: $bg){
            font-size: 4.8rem;
            line-height: 6rem;
        }
        &--bold{
            font-weight: bold;
        }
    }

    &__subtext{
        font-weight: 300;
        font-size: 1.2rem;
        margin: 1.5rem 0 3.2rem 0;

        @media(min-width: $bg){
            font-size: 2rem;
            margin: 1.6rem 0 4rem 0;
        }
    }

    &__form{
        margin-bottom: 7.2rem;
        @media(min-width: $bg){
            display: flex;
            justify-content: space-between;
            margin-bottom: 9.4rem;
        }
        &-input{
            width: 100%;
            border-radius: 2.8rem;
            border: .1rem solid var(--color-blue-100);
            padding: 1rem 3.2rem;
            color: #B8C7ED;

            @media(min-width: $bg){
                width: 42.1rem;
            }
        }
        &-btn{
            margin-top: 1rem;
            padding: 1.2rem 11.25rem;
            border: none;
            border-radius: 2.8rem;
            background-color: var(--color-blue-400);
            color: white;
            font-size: 1.2rem;
            line-height: 1.6rem;
            box-shadow: 0 .5rem 1rem .2rem rgb(76, 123, 243, 23.04%);
            width: 100%;

            @media(min-width: $bg){
                width: 20rem;
                margin-top: 0;
            }
        }
    }
}