$bg: 1440px;

.layout{
    min-height: 100vh;
    display: grid;
    grid-template:
        "header" 5.6rem
        "launching" 44.8rem
        "footer" 19rem
        / 32rem
    ;
    justify-content: center;
    align-content: center;

    @media(min-width: $bg){
        grid-template:
            "header" 9rem
            "launching" 67.3rem
            "footer" 20.4rem
            / 71.2rem
        ;
    }
}