#root{
    // color
    --color-blue-400: hsl(223, 87%, 63%);
    --color-blue-100: hsl(223, 100%, 88%);
    --color-red: hsl(354, 100%, 66%);
    --color-gray: hsl(0, 0%, 59%);
    --color-blue-900: hsl(209, 33%, 12%);

    // text
    --body-size: 2rem;
}